:root {
    --global-woocommerce-background: #eeeeee;

    --global-woocommerce-table-background: white;
    --global-woocommerce-table-padding: 30px;
    --global-woocommerce-table-border-radius: 15px;

    --global-woocommerce-input-color: #69727d;
    --global-woocommerce-input-background: #f9fafa;
    --global-woocommerce-input-font-size: 14px;
    --global-woocommerce-input-padding: 14px;
    --global-woocommerce-input-border: 1px solid #cecece;
    --global-woocommerce-input-border-radius: 3px;
}

main#content {
    background-color: var(--global-woocommerce-background);
}

/* header */

#content .page-header {
    max-width: 1100px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 32px auto 10px auto;
}

#content header h1 {
    color: #111111;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.5em;
}

/* page content */

#content .page-content {
    max-width: 1100px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    margin: 0 auto;
}

/* notice wrapper */
.page-content .woocommerce-message {
    padding: 1.25em 2em 1.25em 3.5em;
}
.page-content .woocommerce-message::before {
    top: 1.25em;
}

#content .woocommerce {
    display: flex;
    align-items: stretch;
    gap: 30px;
}

/* main table */

#content .woocommerce-cart-form {
    flex: 0 0 59%;
}

.woocommerce-cart-form .shop_table {
    background-color: var(--global-woocommerce-table-background);
    padding: var(--global-woocommerce-table-padding) !important;
    margin-bottom: 0 !important;
    border: none !important;
    border-radius: var(--global-woocommerce-table-border-radius) !important;
    -webkit-border-radius: var(
        --global-woocommerce-table-border-radius
    ) !important;
    -moz-border-radius: var(
        --global-woocommerce-table-border-radius
    ) !important;
    -ms-border-radius: var(--global-woocommerce-table-border-radius) !important;
    -o-border-radius: var(--global-woocommerce-table-border-radius) !important;
}

.woocommerce-cart-form__cart-item {
    margin-bottom: var(--global-woocommerce-table-padding);
}

.woocommerce-cart-form .shop_table th,
.cart-collaterals .cart_totals h2,
.woocommerce-cart-form .shop_table td::before {
    font-size: 13px;
    font-weight: 600 !important;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5em !important;
    letter-spacing: 1px;
    padding: 0 24px 8px 4px !important;
}

.woocommerce-cart-form .shop_table td {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding-top: 27px !important;
    padding-bottom: 27px !important;
    padding-right: 27px !important;
    padding-left: 0 !important;
    border-top: none !important;
}

.woocommerce-cart-form .shop_table td.product-remove {
    padding-right: 10px !important;
}

.woocommerce-cart-form .product-remove .remove {
    width: 16.1px;
    height: 1.4em;
    color: #ff0000 !important;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5 !important;
}

.woocommerce-cart-form .product-remove .remove:hover {
    color: #ff0000 !important;
    background-color: transparent;
}

.woocommerce-cart-form .product-thumbnail img {
    width: 55px !important;
    display: block;
}

.woocommerce-cart-form .product-name a {
    color: #5bc0de;
    font-weight: 500;
}

.woocommerce-cart-form .cart td span,
.woocommerce-cart-form .input-text.qty {
    font-size: 14px !important;
    font-weight: 500 !important;
}

.woocommerce-cart-form .input-text.qty {
    width: 3.631em !important;
    min-height: 28px;
    max-height: 28px;
    text-align: left;
    padding: 1px 2px !important;
    margin-top: 0 !important;
    border-width: 0px !important;
    border-radius: var(--global-woocommerce-input-border-radius) !important;
    -webkit-border-radius: var(
        --global-woocommerce-input-border-radius
    ) !important;
    -moz-border-radius: var(
        --global-woocommerce-input-border-radius
    ) !important;
    -ms-border-radius: var(--global-woocommerce-input-border-radius) !important;
    -o-border-radius: var(--global-woocommerce-input-border-radius) !important;
}

.woocommerce-cart-form .input-text.qty:active,
.woocommerce-cart-form .input-text.qty:focus {
    border-width: 2px !important;
}

/* coupons */

.woocommerce-cart-form .coupon_wrapper {
    background-color: var(--global-woocommerce-table-background);
    padding: var(--global-woocommerce-table-padding);
    margin-top: var(--global-woocommerce-table-padding);
    border-radius: var(--global-woocommerce-table-border-radius);
    -webkit-border-radius: var(--global-woocommerce-table-border-radius);
    -moz-border-radius: var(--global-woocommerce-table-border-radius);
    -ms-border-radius: var(--global-woocommerce-table-border-radius);
    -o-border-radius: var(--global-woocommerce-table-border-radius);
}

.woocommerce-cart-form .coupon {
    width: 100%;
    display: flex;
    gap: var(--global-woocommerce-table-padding);
}

.woocommerce-cart-form #coupon_code {
    flex: 2;
    width: 100% !important;
    color: var(--global-woocommerce-input-color);
    background-color: var(--global-woocommerce-input-background);
    font-size: var(--global-woocommerce-input-font-size);
    line-height: 1.5em;
    padding: var(--global-woocommerce-input-padding);
    margin-top: 0 !important;
    margin-right: 0 !important;
    border: var(--global-woocommerce-input-border);
    border-radius: var(--global-woocommerce-input-border-radius);
    -webkit-border-radius: var(--global-woocommerce-input-border-radius);
    -moz-border-radius: var(--global-woocommerce-input-border-radius);
    -ms-border-radius: var(--global-woocommerce-input-border-radius);
    -o-border-radius: var(--global-woocommerce-input-border-radius);
}

.woocommerce-cart-form #coupon_code::placeholder {
    font-weight: 500;
}

.woocommerce-cart-form .coupon .button {
    color: white;
    background-color: #cecece;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5em;
    padding: 0.88rem 2rem;
}

.woocommerce-cart-form .coupon .button:hover {
    color: white;
    background-color: #54595f;
}

.woocommerce-cart-form
    .coupon_wrapper
    button[name="update_cart"][value="Update cart"],
.actions button[name="update_cart"][value="Update cart"] {
    display: none;
}

/* totals table */

.cart-collaterals {
    flex: 1;
    background-color: var(--global-woocommerce-table-background);
    padding: var(--global-woocommerce-table-padding) !important;
    border-radius: var(--global-woocommerce-table-border-radius) !important;
    -webkit-border-radius: var(
        --global-woocommerce-table-border-radius
    ) !important;
    -moz-border-radius: var(
        --global-woocommerce-table-border-radius
    ) !important;
    -ms-border-radius: var(--global-woocommerce-table-border-radius) !important;
    -o-border-radius: var(--global-woocommerce-table-border-radius) !important;
}

.cart-collaterals .cart_totals {
    float: unset !important;
    width: 100% !important;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cart-collaterals .cart_totals h2 {
    color: #111111;
    text-align: left;
    padding-left: 0 !important;
    margin-bottom: 1rem;
}

.cart-collaterals .cart_totals .shop_table {
    border: 0 solid;
}

.cart-collaterals .cart-subtotal th,
.cart-collaterals .order-total th,
.woocommerce table.shop_table_responsive tr td::before,
#content.post-42 .woocommerce-billing-fields h3,
#content.post-42 .woocommerce-additional-fields h3,
#content.post-42 h3#order_review_heading,
#content.post-42 thead tr .product-name,
#content.post-42 thead tr .product-total,
#content.post-42 .cart-subtotal th,
#content.post-42 .order-total th {
    font-size: 13px;
    font-weight: 600 !important;
    text-transform: uppercase;
    line-height: 1.5em !important;
    letter-spacing: 1px;
    padding: 12px 9px 9px 0 !important;
    border-top: none !important;
}

.cart-collaterals .cart-subtotal td,
.cart-collaterals .order-total td {
    text-align: right;
    padding: 12px 0 9px 9px !important;
    border-top: none !important;
}

.cart-collaterals .cart-subtotal .amount,
.cart-collaterals .order-total .amount,
.cart-collaterals .woocommerce-Price-currencySymbol,
#content.post-42 .woocommerce-Price-amount {
    font-size: 13px;
    font-weight: 500 !important;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 1px;
}

.cart-collaterals .order-total .amount,
.cart-collaterals .order-total .amount .woocommerce-Price-currencySymbol,
#content.post-42 .order-total .amount,
#content.post-42 .order-total .amount .woocommerce-Price-currencySymbol {
    font-size: 20px;
    line-height: 1px;
}

.cart-collaterals .wc-proceed-to-checkout {
    padding-bottom: 0;
    margin-top: auto;
}

.cart-collaterals .wc-proceed-to-checkout .checkout-button,
#content.post-42 #place_order {
    background-color: #5ada86 !important;
    font-size: 14px !important;
    line-height: 1.5em;
    letter-spacing: 1px;
    padding: 15px 1em !important;
    margin-bottom: 0 !important;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s lienar;
    -moz-transition: all 0.3s lienar;
    -ms-transition: all 0.3s lienar;
    -o-transition: all 0.3s lienar;
}

.cart-collaterals .wc-proceed-to-checkout .checkout-button:hover {
    background-color: #2ecc71 !important;
}

/* media-queries */

@media (max-width: 1024px) {
    #content .woocommerce {
        flex-direction: column;
    }

    #content .page-content {
        padding-bottom: 80px;
    }

    .woocommerce-cart-form .coupon {
        flex-direction: column;
        gap: 15px;
    }

    .woocommerce-cart-form .shop_table td {
        padding-top: calc(25px / 2) !important;
        padding-bottom: calc(25px / 2) !important;
    }
}

@media (max-width: 768px) {
    .woocommerce-cart-form__cart-item {
        margin-bottom: 0;
    }

    .woocommerce-cart-form .product-remove .remove {
        margin-left: auto;
    }

    .woocommerce-cart-form td.product-thumbnail {
        display: block !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .woocommerce-cart-form td.product-thumbnail::before {
        display: none;
    }

    .woocommerce-cart-form .product-thumbnail img {
        width: 70px !important;
        margin: -34px 0 1rem 0;
    }

    .woocommerce-cart-form .shop_table td {
        padding-right: 0 !important;
    }

    .woocommerce-cart-form .input-text.qty {
        text-align: right;
    }

    .woocommerce table.shop_table_responsive tr:nth-child(2n) td,
    .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
        background: white;
    }

    .woocommerce table.shop_table_responsive tr td::before {
        margin-top: -10px;
    }
}

/* ---------------------------------------------------------------------------------------- */

/* --------------------------------------checkout------------------------------------------ */

/* ---------------------------------------------------------------------------------------- */

#content.post-42 .page-header {
    margin: 40px auto;
}

#content.post-42 .checkout {
    display: grid;
    grid-template-columns: 56% auto;
    gap: 1.5rem;
}

#content.post-42 .woocommerce .col2-set .col-1,
#content.post-42 .woocommerce .col2-set .col-2 {
    float: unset;
    width: 100%;
}

/* billing details */

#content.post-42 .woocommerce .col2-set .col-1,
#content.post-42 .woocommerce-additional-fields,
#content.post-42 .order-container,
#content.post-42 .checkout_coupon,
#content.post-42 #payment {
    background: var(--global-woocommerce-table-background);
    padding: var(--global-woocommerce-table-padding);
    margin: 0 0 24px 0;
    border-radius: var(--global-woocommerce-table-border-radius);
    -webkit-border-radius: var(--global-woocommerce-table-border-radius);
    -moz-border-radius: var(--global-woocommerce-table-border-radius);
    -ms-border-radius: var(--global-woocommerce-table-border-radius);
    -o-border-radius: var(--global-woocommerce-table-border-radius);
}

#content.post-42 .woocommerce-billing-fields h3,
#content.post-42 .woocommerce-additional-fields h3,
#content.post-42 h3#order_review_heading {
    color: #111111;
    padding: 0 !important;
    margin-bottom: 30px;
}

#content.post-42 .woocommerce-additional-fields h3 {
    display: none;
}

#content.post-42 .woocommerce form .form-row-first,
#content.post-42 .woocommerce form .form-row-last {
    width: 48%;
}

#content.post-42 .woocommerce form .form-row {
    padding: 3px calc(5px / 2);
    margin-left: calc(-5px / 2);
    margin-right: calc(-5px / 2);
    margin-bottom: var(--global-woocommerce-table-padding);
}

#content.post-42 .woocommerce form .form-row#billing_address_1_field {
    margin-bottom: 5px;
}

#content.post-42 .woocommerce form .validate-email {
    margin-bottom: calc(var(--global-woocommerce-table-padding) / 2);
}

#content.post-42 .woocommerce form .form-row label {
    color: #111111;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.5em;
    margin-bottom: 3px;
}

#content.post-42 .woocommerce form .form-row input.input-text,
#content.post-42 .select2-container--default .select2-selection--single,
#content.post-42 #order_comments {
    color: var(--global-woocommerce-input-color);
    background-color: var(--global-woocommerce-input-background);
    font-size: 14px;
    font-weight: 400;
    padding: 16px 14px;
    margin-top: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#content.post-42 .woocommerce form .form-row input.input-text::placeholder,
#content.post-42 #order_comments::placeholder {
    color: rgb(117, 117, 117);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: unset;
    opacity: 0.6;
}

#content.post-42 .select2-container--default .select2-selection--single {
    height: auto;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0;
}

.select2-search--dropdown .select2-search__field {
    width: 100% !important;
    padding: 6.8px 4px !important;
    margin-top: 0 !important;
    border: 1px solid #aaa !important;
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
}

.select2-results__options .select2-results__option {
    font-size: 14px !important;
}

#content.post-42
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: calc((14px * 2) + 16px);
    right: 14px;
}

#content.post-42
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: var(--global-woocommerce-input-color);
    line-height: calc((14px * 2) + 16px);
    padding-left: 14px;
    padding-right: 14px;
}

/* additional field (comments) */

#content.post-42 .woocommerce-additional-fields {
    margin-bottom: 0;
}

#content.post-42 #order_comments_field {
    margin-bottom: 6px !important;
}

/* your order */

#content.post-42 .woocommerce table.shop_table {
    margin-bottom: 0;
    border: 0;
    font-size: 14px;
}

#content.post-42 .woocommerce table.shop_table thead tr th:first-child {
    width: 55%;
}

#content.post-42 .woocommerce table.shop_table th,
#content.post-42 .woocommerce table.shop_table td,
#content.post-42 .woocommerce table.shop_table tfoot td {
    border: none;
    border-top: none;
    padding-left: 0;
    padding-right: 12px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

#content.post-42 .woocommerce table.shop_table thead tr th {
    padding-top: 0 !important;
}

#content.post-42 .cart_item .product-name {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

#content.post-42 .cart_item .product-quantity {
    font-weight: 400;
}

#content.post-42 .woocommerce table.shop_table th,
#content.post-42 .cart-subtotal th {
    line-height: 26px !important;
}
/* coupon */

#content.post-42 .woocommerce-form-coupon-toggle {
    display: none;
}

#content.post-42 .checkout_coupon {
    display: block !important;
    border: none;
    padding-bottom: 86.4px;
}

#content.post-42 .checkout_coupon p:first-child {
    color: #111111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 3px;
}

#content.post-42 .checkout_coupon .form-row-last button {
    width: max-content;
    color: white;
    background-color: #cecece;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 1px;
    padding: 14px 40px 14px 40px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

/* payment */

#content.post-42 #payment ul.payment_methods {
    border-bottom: none;
    padding: 0;
}

#content.post-42 .payment_methods label {
    color: #111111;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 1.5em !important;
}

#content.post-42 .woocommerce-checkout #payment div.payment_box {
    background: var(--global-woocommerce-input-background);
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

#content.post-42 .woocommerce-checkout #payment div.payment_box::before {
    display: none;
}

#content.post-42 .woocommerce-checkout #payment div.payment_box p {
    color: #111111;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 1.5em !important;
}

#content.post-42 .woocommerce-privacy-policy-text p {
    color: #111111;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 1.5em !important;
    margin-top: 25px !important;
    margin-bottom: 22px !important;
}

#content.post-42 a.woocommerce-privacy-policy-link {
    color: #61ce70 !important;
    font-weight: 500 !important;
    line-height: 1.5em !important;
}

#content.post-42 .place-order {
    margin-bottom: 0 !important;
}

#content.post-42 #place_order {
    width: 100%;
}

@media (max-width: 1024px) {
    #content.post-42 .checkout {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    #content.post-42 .page-content {
        padding-right: 20px;
        padding-left: 20px;
    }

    #content.post-42 .woocommerce form .form-row-first,
    #content.post-42 .woocommerce form .form-row-last {
        width: auto;
        float: unset;
    }

    #content.post-42 .checkout_coupon {
        padding-bottom: 30px;
    }

    #content.post-42 .checkout_coupon .form-row-first {
        margin-bottom: 15px !important;
    }

    #content.post-42 .checkout_coupon .form-row-last {
        margin-bottom: 0 !important;
    }

    #content.post-42 #payment {
        margin-bottom: 0 !important;
    }
}
