.elementor-section .elementor-container {
    flex-direction: row-reverse;
}
.elementor-369553 .elementor-element.elementor-element-35e20806 {
    width: 39.92% !important;
}
.elementor-369553
    .elementor-element.elementor-element-6f280050
    > .elementor-widget-container {
    background-color: white !important;
    padding: 32px 42px 28px !important;
    margin: 0 !important;
}
.elementor-column-wrap--35e20806 {
    height: max-content;
    flex-direction: column-reverse;
    justify-content: flex-end;
    border: 1px solid #e6e6e6;
}
.elementor-369553 .elementor-element.elementor-element-3bea7835 {
    width: calc(100% - 39.92%) !important;
    padding-left: 51px;
}
.woocommerce .woolentor-fields-1 .woocommerce-billing-fields__field-wrapper {
    justify-content: space-between;
    align-items: center;
}
.woocommerce .woolentor-fields-1 .form-row-first {
    width: 50% !important;
}
.woocommerce-checkout
    .woocommerce-billing-fields__field-wrapper
    #billing_city_field,
.woocommerce-checkout
    .woocommerce-billing-fields__field-wrapper
    #billing_postcode_field {
    width: calc(25% - 15px) !important;
    max-width: calc(25% - 15px) !important;
}
.elementor-369553
    .elementor-element.elementor-element-38c3a1dc
    > .elementor-widget-container {
    background: white !important;
    padding: 32px 42px 8px !important;
}
.woocommerce .shop_table tfoot {
    background: white !important;
}
.woolentor-review-order-1 .woolentor-products {
    border: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6 !important;
    padding: 20px;
    padding-bottom: 20px !important;
}
.woolentor-review-order-1 .woolentor-product-thumb {
    flex: unset !important;
}
.woocommerce img {
    width: 80px;
    height: 80px !important;
}

@media (max-width: 1070px) {
    .woocommerce-checkout
        .woocommerce-billing-fields__field-wrapper
        #billing_city_field,
    .woocommerce-checkout
        .woocommerce-billing-fields__field-wrapper
        #billing_postcode_field {
        width: 50% !important;
        max-width: 50% !important;
    }
}
@media (max-width: 800px) {
    .elementor-section .elementor-container {
        flex-direction: column-reverse;
    }
    .elementor-369553 .elementor-element.elementor-element-35e20806 {
        width: 100% !important;
    }
    .elementor-369553 .elementor-element.elementor-element-3bea7835 {
        width: 100% !important;
    }
}
@media (max-width: 480px) {
    .woocommerce-checkout
        .woocommerce-billing-fields__field-wrapper
        #billing_city_field,
    .woocommerce-checkout
        .woocommerce-billing-fields__field-wrapper
        #billing_postcode_field {
        width: 100% !important;
        max-width: 100% !important;
    }
}
