.elementor-369553
    .elementor-element.elementor-element-6f31882f
    .elementor-heading-title {
    font-size: 42px !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    margin-bottom: 30px;
}
.elementor-369553 .elementor-element.elementor-element-627a9cc5 {
    padding-top: 0px !important;
}
.elementor-section .elementor-container {
    flex-direction: row-reverse;
}
.elementor-369553 .elementor-element.elementor-element-35e20806 {
    width: 39.92% !important;
}
.elementor-369553
    .elementor-element.elementor-element-6f280050
    > .elementor-widget-container {
    background-color: white !important;
    padding: 32px 42px 28px !important;
    margin: 0 !important;
}
.elementor-column-wrap--35e20806 {
    height: max-content;
    flex-direction: column-reverse;
    justify-content: flex-end;
    border: 1px solid #e6e6e6;
}
.elementor-369553 .elementor-element.elementor-element-3bea7835 {
    width: calc(100% - 39.92%) !important;
    padding-left: 51px;
}
.woocommerce .woocommerce-billing-fields {
    margin-bottom: 0 !important;
}
.elementor-369553
    .elementor-element.elementor-element-183f663c
    > .elementor-widget-container {
    margin: 0 !important;
}
.woocommerce .woolentor-fields-1 .woocommerce-billing-fields__field-wrapper {
    justify-content: space-between;
    align-items: center;
    gap: unset !important;
}
.woocommerce .woolentor-fields-1 .form-row-first,
.woocommerce .woolentor-fields-1 .form-row-last {
    flex: calc(50% - 2px) !important;
    width: calc(50% - 2px) !important;
    max-width: calc(50% - 2px) !important;
    margin-bottom: 1rem !important;
}
.woocommerce .woolentor-fields-1 .form-row-first {
    margin-right: 2px !important;
}
.woocommerce .woolentor-fields-1 .form-row-last {
    margin-left: 2px !important;
}
.elementor-369553
    .elementor-element.elementor-element-183f663c
    :is(.woocommerce-account-fields, .woocommerce-billing-fields)
    input.input-text:focus,
.elementor-369553
    .elementor-element.elementor-element-183f663c
    .form-row
    select:focus,
.elementor-369553
    .elementor-element.elementor-element-183f663c
    .form-row
    .select2-container
    .select2-selection:focus,
.elementor-369553
    .elementor-element.elementor-element-183f663c
    :is(.woocommerce-account-fields, .woocommerce-billing-fields)
    .input-text:focus {
    border: 2px solid #212121 !important;
}
.woocommerce .woolentor-fields-1.wl_on_top .has-value label,
.woocommerce .woolentor-fields-1.wl_on_top .focused label {
    display: none;
}
.form-row:nth-child(6) > label {
    display: none !important;
}
.select2-container.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    top: calc(50% - 3px) !important;
}
.woocommerce-checkout
    .woocommerce-billing-fields__field-wrapper
    #billing_city_field,
.woocommerce-checkout
    .woocommerce-billing-fields__field-wrapper
    #billing_postcode_field {
    flex: calc(25% - 4px) !important;
    width: calc(25% - 4px) !important;
    max-width: calc(25% - 4px) !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
}
.elementor-369553
    .elementor-element.elementor-element-38c3a1dc
    > .elementor-widget-container {
    background: white !important;
    padding: 32px 42px 8px !important;
}
.woocommerce .shop_table tfoot {
    background: white !important;
}
.woolentor-review-order-1 .woolentor-products {
    border: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6 !important;
    padding: 20px;
    padding-bottom: 20px !important;
}
.woolentor-review-order-1 .woolentor-product-thumb {
    flex: unset !important;
}
.woolentor-review-order-1 .woolentor-product-thumb img {
    border: none !important;
}
.woolentor-review-order-1.contents-display--inline .woolentor-product-content {
    flex-direction: column;
    align-items: flex-start !important;
}
.woocommerce
    .elementor-369553
    .elementor-element.elementor-element-6f280050
    #order_review
    table.shop_table
    tfoot
    tr:not(.order-total, .woolentor-save)
    td,
.woocommerce
    .elementor-369553
    .elementor-element.elementor-element-6f280050
    #order_review
    table.shop_table
    tfoot
    tr:not(.order-total, .woolentor-save)
    th {
    font-size: 16px !important;
    color: #212121 !important;
    font-weight: 400 !important;
    text-transform: capitalize !important;
}
.woocommerce
    #order_review.woolentor-review-order-1
    table.shop_table
    .order-total
    th,
.woocommerce
    #order_review.woolentor-review-order-1
    table.shop_table
    .order-total
    td {
    color: #212121 !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
}
.woocommerce .shop_table tfoot .order-total {
    background: white !important;
}
.woocommerce-shipping-totals.shipping {
    margin-bottom: 1rem;
}
.elementor-369553
    .elementor-element.elementor-element-6f280050
    .woolentor-product-title {
    font-size: 14px !important;
    font-weight: 400 !important;
    display: block;
    color: #212121 !important;
    text-transform: uppercase;
    text-decoration: none;
}
.woolentor-review-order-1.contents-display--inline
    .woolentor-product-content-bottom {
    width: 100%;
    flex-direction: row !important;
}
.elementor-369553
    .elementor-element.elementor-element-6f280050
    .woolentor-product-price-value {
    font-size: 16px !important;
    font-weight: 400 !important;
}
.woocommerce img {
    width: 80px;
    height: 80px !important;
}

.elementor-369553
    .elementor-element.elementor-element-183f663c
    :is(.woocommerce-account-fields, .woocommerce-billing-fields)
    input.input-text,
.elementor-369553
    .elementor-element.elementor-element-183f663c
    .form-row
    select,
.elementor-369553
    .elementor-element.elementor-element-183f663c
    .form-row
    .select2-container
    .select2-selection,
.elementor-369553
    .elementor-element.elementor-element-183f663c
    :is(.woocommerce-account-fields, .woocommerce-billing-fields)
    .input-text {
    height: 46px !important;
    color: #212121 !important;
    font-size: 16px !important;
    padding: 10px 15px !important;
    border: 1px solid #212121 !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}
.elementor-369553
    .elementor-element.elementor-element-183f663c
    :is(.woocommerce-account-fields, .woocommerce-billing-fields)
    .form-row
    label {
    color: #707070 !important;
    opacity: 1 !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
    padding-right: 25px;
    left: 18px !important;
}
.elementor-369553
    .elementor-element.elementor-element-183f663c
    .woocommerce-billing-fields
    > h3 {
    font-size: 28px !important;
    font-weight: 400 !important;
    line-height: 39px;
    text-transform: capitalize !important;
    margin-bottom: 9px;
    margin-left: -8px;
}
.elementor-369553
    .elementor-element.elementor-element-210bc472
    .elementor-heading-title {
    font-size: 25px !important;
    font-weight: 400 !important;
    margin-bottom: 9px;
    margin-left: -8px;
}
.elementor-369553
    .elementor-element.elementor-element-38c3a1dc
    .woolentor-checkout-coupon-form
    .coupon-form
    input.input-text {
    padding: 7px 10px;
    font-size: 14px;
    margin-bottom: 0 !important;
    border: 1px solid #ececec !important;
    text-transform: uppercase;
}
.elementor-369553
    .elementor-element.elementor-element-38c3a1dc
    .woolentor-checkout-coupon-form
    .coupon-form
    button.button {
    font-size: 14px !important;
    background-color: #b2976e !important;
    color: #fff !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    padding: 8px 9px;
    white-space: nowrap;
    border: 1px solid #b2976e;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.elementor-369553
    .elementor-element.elementor-element-38c3a1dc
    .woolentor-checkout-coupon-form
    .coupon-form
    button.button:hover {
    color: #b2976e !important;
    background: #fff !important;
}

@media (max-width: 1070px) {
    .elementor-369553
        .elementor-element.elementor-element-6f280050
        > .elementor-widget-container {
        padding: 20px !important;
    }
    .woocommerce-checkout
        .woocommerce-billing-fields__field-wrapper
        #billing_city_field,
    .woocommerce-checkout
        .woocommerce-billing-fields__field-wrapper
        #billing_postcode_field {
        flex: calc(50% - 4px) !important;
        width: calc(50% - 4px) !important;
        max-width: calc(50% - 4px) !important;
    }
}
@media (max-width: 1000px) {
    .elementor-369553 .elementor-element.elementor-element-35e20806,
    .elementor-369553 .elementor-element.elementor-element-3bea7835 {
        width: 50% !important;
    }
}
@media (max-width: 800px) {
    .elementor-section .elementor-container {
        flex-direction: column-reverse;
    }
    .elementor-369553 .elementor-element.elementor-element-35e20806 {
        width: 100% !important;
    }
    .elementor-369553 .elementor-element.elementor-element-3bea7835 {
        width: 100% !important;
        padding-left: 30px !important;
    }
}
@media (max-width: 480px) {
    .woocommerce .woolentor-fields-1 .form-row-first,
    .woocommerce .woolentor-fields-1 .form-row-last,
    .woocommerce-checkout
        .woocommerce-billing-fields__field-wrapper
        #billing_city_field,
    .woocommerce-checkout
        .woocommerce-billing-fields__field-wrapper
        #billing_postcode_field {
        flex: 100% !important;
        width: 100% !important;
        max-width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
