.nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* nav left section */
.nav-left {
    gap: 2.5rem;
}

.nav-logo {
    width: 25px;
    height: 40px;
    background: black;
    border-radius: 0 40px 40px 0;
    -webkit-border-radius: 0 40px 40px 0;
    -moz-border-radius: 0 40px 40px 0;
    -ms-border-radius: 0 40px 40px 0;
    -o-border-radius: 0 40px 40px 0;
}

.nav-link {
    font-weight: 500;
}

.nav-links {
    list-style-type: none;
    gap: 2rem;
    margin-left: 1.5rem;
}

.nav-links li a {
    color: black;
    font-weight: 500;
}

/* nav right section */
.nav-right {
    gap: 1.5rem;
}

.nav-login {
    list-style-type: none;
    gap: 2rem;
}

form select {
    width: 100%;
}

.nav-login li:not(:last-child)::after {
    position: absolute;
    right: -1rem;
    content: "";
    width: 2px;
    height: 100%;
    background: black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    pointer-events: none;
}

.nav-login li a {
    color: black;
    font-weight: 500;
}

.nav-dropdown {
    width: 24px;
    height: 24px;
}

/*----hamburger----*/
.nav-menu {
    width: 1.5rem;
    height: 1.5rem;
    display: none;
    z-index: 100;
}
.hamburger {
    width: 1rem;
    height: 3px;
    background: black;
    margin-top: 10.5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.hamburger::before,
.hamburger::after {
    position: absolute;
    content: "";
    left: 0;
    width: 1.5rem;
    height: 3px;
    background: black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.hamburger::after {
    -webkit-transform: translateY(-0.5rem);
    -moz-transform: translateY(-0.5rem);
    -ms-transform: translateY(-0.5rem);
    -o-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem);
}
.hamburger::before {
    -webkit-transform: translateY(0.5rem);
    -moz-transform: translateY(0.5rem);
    -ms-transform: translateY(0.5rem);
    -o-transform: translateY(0.5rem);
    transform: translateY(0.5rem);
}
.nav-active .hamburger {
    background: transparent;
}
.nav-active .hamburger::before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.nav-active .hamburger::after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

/* slide-in menu */
.slide-in-menu {
    position: absolute;
    top: 0;
    width: 300px;
    height: 100vh;
    background: lightblue;
    text-align: left;
    padding: 1.5rem;
    box-shadow: 0 0 10px 2px rgba(0, 30, 0, 0.15);
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    z-index: 9999;
}

.nav-active .slide-in-menu {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

/* close-btn */
.close-btn {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 24px;
    height: 24px;
}

.slide-in-menu .nav-btn {
    width: max-content;
}

.top-section__second-row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu-id {
    padding: var(--input-padding) !important;
}

.slide-in-menu .menu-id {
    left: -1.5rem;
}

.slide-in-menu .nav-left {
    margin-top: 5rem;
}

.slide-in-menu .nav-links {
    margin-left: 0;
}

.menu-id .form-field select:valid {
    background-color: var(--select-background-color) !important;
    border-color: var(--select-border-color) !important;
}

.menu-id .form-field select:focus,
.menu-id .form-field select:active {
    background-color: var(--select-valid-background-color) !important;
    border-color: var(--select-valid-border-color) !important;
}
