.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 3rem;
    background: #efefef;
    padding: 3rem;
}
.container > div {
    background: white;
    padding: 24px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    height: 100%;
}

.container-left {
    display: flex !important;
}

.sidebar {
    max-width: 250px;
    height: 100%;
}

/* tab-section */

.tab-button-section {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.tab-button {
    background: transparent;
    font-size: 1rem;
    padding: 0;
    border: none;
    cursor: pointer;
}
.tab-button.active {
    border-bottom: 2px solid #333333;
}

/* sidebar-menu */

.sidebar-menu {
    width: 100%;
    height: 100%;
    list-style-type: none;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: none;
}
.sidebar-menu.active {
    display: flex;
}
.sidebar-menu::-webkit-scrollbar {
    display: none;
}
.menu-item-left {
    gap: 0.5rem;
}
.icon-arrow {
    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
}
li.active .icon-arrow {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.number {
    width: 18px;
    height: 18px;
    color: white;
    background: #333333;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333333;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.sub-menu {
    padding-left: 36px;
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease-out;
    -webkit-transition: height 0.3s ease-out;
    -moz-transition: height 0.3s ease-out;
    -ms-transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
}
.menu-item {
    gap: 1rem;
}
.menu-item,
.sub-menu-item {
    height: 3rem;
}

.main {
    width: 100%;
    height: 100%;
}
