.svg_GdWlS {
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg_GdWlS svg {
    position: absolute;
    width: 20px;
    height: 20px;

    /* add this line to remove previous style effects / or just simply delete them */
    scale: 1;
    padding-right: 0;
}
