html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
input,
button,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    font-family: "Poppins", sans-serif !important;
}

.wrapper {
    background: #f2f2f2;
}

.top-container {
    height: 100vh;
    display: flex;
    position: relative;
}

/* -----------------------------left section (video-container)----------------------------- */

.left-container {
    width: 70%;
    position: relative;
    overflow: hidden;
}
.wrapper.full-width .left-container {
    width: 100%;
}

.left-container__img-container {
    width: 100%;
    height: 100%;
}
.left-container__img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* toggle-btn */
.toggle {
    position: absolute !important;
    top: 1rem;
    right: 1rem;
    width: 24px;
    height: 24px;
    z-index: 10;
    cursor: pointer;
}
.toggle-icon {
    position: absolute;
    width: 100%;
    height: 100%;
}
.top-container .icon-full-screen,
.wrapper.full-width .icon-exit-full-screen {
    display: block;
}
.top-container .icon-exit-full-screen,
.wrapper.full-width .icon-full-screen {
    display: none;
}

/* --------------------------right section (chatbox-container)------------------------- */

.right-container {
    width: 30%;
    min-width: 425px;
    height: 100vh;
    overflow: auto;
    scrollbar-width: none;
    overflow: scroll;
}
.right-container::-webkit-scrollbar {
    display: none;
}
.wrapper.full-width .right-container {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: transparent;
    height: 100vh;
}

/* ------------------------------message-section (bottom-right)-------------------------- */

.chatbox-container {
    width: 100%;
    height: 100%;
    min-height: 300px;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 10px 2px rgba(0, 30, 0, 0.15);
    position: relative;
}
.wrapper.full-width .chatbox-container {
    background: transparent;
    height: 100%;
    box-shadow: none;
}

/* message-navbar */
.message-navbar {
    width: calc(100% + 4rem);
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-left: -2rem;
}
.wrapper.full-width .message-navbar {
    display: none;
}

.message-navbar__left {
    display: flex;
    align-items: baseline;
    gap: 0.25rem;
}
.message-navbar__left-heading {
    font-size: 20px;
    font-weight: 700;
}
.message-navbar__viewers-count {
    font-size: 12px;
    color: #808080;
}

.message-navbar .icon-container {
    background: transparent;
}

/* ----------chatbox-button-container--------- */

.chatbox-button-container {
    width: 100%;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.wrapper.full-width .chatbox-button-container {
    background: transparent;
}

.chatbox-button {
    width: 100%;
    font-weight: 600;
    padding: 14px 32px !important;
    border: none;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
}
.chatbox-button.active {
    color: black;
    background: white;
}

/* ----------message-container--------- */

.message-container {
    display: flex;
    flex-direction: column-reverse !important;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: auto;
}
.message-container::-webkit-scrollbar {
    display: none;
}
.wrapper.full-width .message-container {
    height: auto;
    padding-top: 100px; /* keep the padding-top value and --top-mask-size same */
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0,
        black var(--top-mask-size, 0px),
        black calc(100% - var(--bottom-mask-size, 0px)),
        transparent 100%
    );
    mask-image: linear-gradient(
        to bottom,
        transparent 0,
        black var(--top-mask-size, 0px),
        black calc(100% - var(--bottom-mask-size, 0px)),
        transparent 100%
    );
    --top-mask-size: 100px; /* this value controls the fade-out container height */
}

/* overwrite simplebar's style */
[data-simplebar] {
    flex-wrap: unset !important;
    justify-content: unset !important;
    align-items: unset !important;
}
.simplebar-placeholder {
    display: flex !important;
}
.simplebar-wrapper {
    height: 100% !important;
}

.message {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
}
.message:not(:first-child) {
    margin-bottom: 1.5rem;
}
.message-right {
    flex-direction: row-reverse;
}

.message .img-container {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}
.message .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    width: max-content;
}
.message-right .text-container {
    margin-left: auto;
}

.message-info {
    display: flex;
    align-items: baseline;
    gap: 0.75rem;
}
.message-right .message-info {
    flex-direction: row-reverse;
}

.name {
    display: block;
    color: black;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.wrapper.full-width .name {
    color: rgba(255, 255, 255, 0.5);
}
.message-right .name {
    text-align: right;
}

.message .text {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0;
    background: #d9d9d9;
    padding: 0.5rem 1rem;
    border-radius: 0 15px 15px 15px;
    -webkit-border-radius: 0 15px 15px 15px;
    -moz-border-radius: 0 15px 15px 15px;
    -ms-border-radius: 0 15px 15px 15px;
    -o-border-radius: 0 15px 15px 15px;
}
.message-right .text {
    border-radius: 15px 0 15px 15px;
    -webkit-border-radius: 15px 0 15px 15px;
    -moz-border-radius: 15px 0 15px 15px;
    -ms-border-radius: 15px 0 15px 15px;
    -o-border-radius: 15px 0 15px 15px;
}
.wrapper.full-width .text {
    color: white;
    background: rgba(255, 255, 255, 0.2);
}

.message .time {
    font-size: 10px;
}
.wrapper.full-width .message .time {
    color: rgba(255, 255, 255, 0.5);
}

/* --------notification inside message---------- */

.notification {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    background: #fa3e3e;
    width: 100%;
    padding: 0.75rem 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.icon-container {
    width: 18px;
    height: 18px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.icon-exclamation {
    width: 15px;
    height: 15px;
}

.notification span {
    font-size: 13px;
}

/* -----------input-container------------ */

.input-container {
    background: white;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 6.5rem;
    margin-top: 1.5rem;
    border-radius: 2rem !important;
    -webkit-border-radius: 2rem !important;
    -moz-border-radius: 2rem !important;
    -ms-border-radius: 2rem !important;
    -o-border-radius: 2rem !important;
    position: relative;
}
.wrapper.full-width .input-container {
    background: rgba(255, 255, 255, 0.3);
}

.input-container .img-container {
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}

.input-container .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.input-container .input-message {
    height: 4rem;
    background: transparent;
    padding-left: 1rem !important;
    margin-top: 0 !important;
    border: none !important;
}
.wrapper.full-width .input-message {
    color: white !important;
}
.wrapper.full-width .input-message::placeholder {
    color: white;
}

/* ---emoji-picker--- */

.emoji-container {
    position: absolute;
    right: 72px;
    width: 24px !important;
    height: 24px !important;
}
.emoji-container::after {
    position: absolute;
    content: "😀";
    font-size: 24px;
    pointer-events: none;
}
.select-emoji {
    top: 0;
    right: -5px;
    font-size: 24px;
    width: 24px;
    height: 24px;
}
.select-emoji svg:not(:root).svg-inline--fa {
    opacity: 0;
}
.emoji-picker__search-icon {
    top: 50% !important;
}
.emoji-picker__preview {
    display: none !important;
}

/* ---send-btn--- */

.send-message {
    position: absolute;
    right: 1.5rem;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.send-message:hover {
    background: none;
}
.icon-send {
    fill: black;
    width: 24px;
    height: 24px;
}

/* ---------------------------------bottom-container(bio, more-rooms)--------------------------------- */

/* bottom-container */
.bottom-container {
    padding: 1rem;
    position: relative;
}

/* tab-button-container */
.tab-button-container {
    display: none;
    width: 100%;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.tab-button-container::-webkit-scrollbar {
    display: none;
}

/* ----------purple-container--------- */

.purple-container {
    background: #fb5ba2;
    width: calc(100% + 2rem);
    height: max-content;
    padding: 1rem;
    margin-top: -1rem;
    margin-left: -1rem;
}

/* -----------room-section------------- */

.room-profile-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.room-profile-container span,
.room-profile-container p {
    color: white !important;
    font-size: 10px !important;
}

.room-profile-container .room__img-container {
    width: 80px;
    min-width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
}
.room__img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.room__info-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.room__info-top {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.room-profile-container .room__info-name,
.room-profile-container .room__info-followers--number {
    font-size: 16px !important;
    font-weight: 700 !important;
}

.room__info-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.room__info-followers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}
.room__info-followers--text {
    font-weight: 500;
}

.room__button-container {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-left: auto;
}
.room__follow-btn {
    color: black !important;
    font-size: 10px !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    padding: 2px 12px !important;
    border: 2px solid white !important;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.room__settings {
    padding: 0 !important;
    background: transparent !important;
    border: none !important;
}

.room-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* room-icons */
.room__icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.room__icon-container {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
}
.room__icon-container svg {
    fill: black;
    width: 16px;
    height: 16px;
}

/* room-icons-dropdown */
.menu-settings__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.menu-settings .room-container__left {
    display: flex;
    align-items: flex-start;
    gap: 0.25rem;
}
.menu-settings .room__img-container {
    width: 25px;
    height: 25px;
    min-width: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}
.menu-settings .room__info-container {
    justify-content: space-between;
    gap: 0.25rem;
}
.menu-settings .room__info-name,
.menu-settings .room__info-followers {
    font-size: 10px !important;
}
.menu-settings .icon-close {
    fill: black;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.menu-settings .menu-item {
    justify-content: center;
    gap: 1rem;
    padding: 12px;
    border-bottom: 2px solid var(--input-border-color);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    cursor: pointer;
}
.menu-settings .menu-item:last-child {
    border-bottom: none;
}
.menu-item-icon {
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-item-icon svg {
    position: absolute;
    width: 20px;
    height: 20px;
}

/* more-room button */
.more-room-btn {
    color: black;
    background: white;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

/* goal-container */
.goal-container {
    margin-top: 1rem;
}
.goal-title,
.goal-title span {
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
}
.goal-tip {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.goal-tip-text,
.goal-tip-text > span,
.goal-tip-percent {
    color: white;
    font-size: 12px;
    margin-bottom: 0;
}

/* progress bar */
.progress-container {
    width: 100%;
    height: 8px;
    background-color: #90194e;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 0.75rem;
}
.progress-bar {
    width: 0%;
    height: 100%;
    background-color: white;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.goal-container.active .progress-bar {
    width: var(--progress-percentage);
}

/* more-room */
.more-room {
    display: none;
}

/* ------------------------------mobile chatbox holder------------------------------- */

.mobile-chatbox {
    width: 100%;
    height: max-content;
    margin-top: 0.75rem;
    display: none;
}

.mobile-chatbox__bottom {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.mobile-chatbox__img-container {
    width: 45px;
    min-width: 45px;
    height: 45px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
}
.mobile-chatbox__img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mobile-chatbox__bottom form,
.mobile-chatbox__bottom input {
    width: 100%;
    margin-top: 0 !important;
}

/* ------------------media-query-------------------- */

@media (max-width: 1200px) {
    .top-container {
        height: auto;
        min-height: 100vh;
        flex-direction: column;
    }

    .left-container {
        width: 100%;
        height: auto;
        min-height: 60vh;
    }
    .left-container__img-container {
        height: 100vh;
    }
    .toggle {
        display: none;
    }

    .right-container {
        width: 100%;
        min-width: auto;
    }
    .wrapper.full-width .right-container {
        max-width: 400px;
        height: 65vh;
        top: 35vh;
    }

    .chatbox-container {
        height: 100%;
    }
    .wrapper.full-width .chatbox-container {
        min-height: unset;
    }

    .wrapper.full-width .message-container {
        padding-top: 50px;
        --top-mask-size: 50px;
    }

    .message .img-container {
        width: 35px;
        height: 35px;
        min-width: 35px;
    }
    .name,
    .message .text {
        font-size: 12px;
    }
}

@media (max-width: 1000px) {
    .wrapper.full-width .top-container {
        flex-direction: column;
        gap: 0;
    }

    .wrapper.full-width .left-container .purple-container {
        display: block;
    }

    .wrapper.full-width .tab-button-container {
        display: flex;
    }
    .tab-button {
        white-space: nowrap;
        cursor: pointer;
    }
    .tab-button.active {
        color: var(--button-hover-text-color);
        background: var(--button-hover-background-color);
        border: 1px solid var(--button-hover-border-color);
    }
    .wrapper.full-width .tab-menu {
        display: none !important;
    }
    .wrapper.full-width .tab-menu.active {
        display: block !important;
    }

    .wrapper.full-width .right-container {
        position: unset;
        width: 100%;
        max-width: unset;
    }

    /* revert message transparent backgrounds to normal */
    .wrapper.full-width .input-container {
        background: white;
    }

    .wrapper.full-width .text {
        color: black;
        background: #d9d9d9;
    }
    .wrapper.full-width .name {
        color: black;
    }
    .wrapper.full-width .message-container {
        padding-top: unset;
        -webkit-mask-image: none;
        mask-image: none;
    }
    .wrapper.full-width .input-message {
        color: black !important;
    }
    .wrapper.full-width .input-message::placeholder {
        color: black;
    }
    .wrapper.full-width .message .time {
        color: black;
    }

    .bottom-container {
        display: block;
    }
    .bottom-container.chat-active {
        display: none;
    }

    .purple-container {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }

    .wrapper.full-width .bottom-container .mobile-chatbox {
        display: block;
    }

    .wrapper.full-width .bottom-container.chat-active .mobile-chatbox {
        display: none;
    }

    .mobile-chatbox .input-container {
        margin-top: 0;
    }
}

@media (max-width: 600px) {
    .wrapper.full-width .top-container {
        min-height: unset;
    }

    .left-container {
        min-height: unset;
        padding-top: 50vh;
    }
    .left-container__img-container,
    .wrapper.full-width .left-container__img-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 50vh;
        z-index: 99999;
    }

    .more-btn {
        display: none;
    }
    .more-btn-mobile {
        display: block;
        margin-top: 0.75rem;
    }

    .emoji-picker {
        width: 270px;
        max-width: 270px;
    }
    .emoji-picker__tabs {
        overflow: scroll;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .emoji-picker__tabs::-webkit-scrollbar {
        display: none;
    }
    .emoji-picker__emojis {
        width: calc(1.3rem * 1.5 * 8) !important;
    }
}
