:root{
  --message-padding: 25px;
  --message-background: #eee;             /* toast-notification-empty */
  --message-error-background: #FFA6A6;    /* toast-notification-error */
  --message-alert-background: #FFE0A6;    /* not used */
  --message-info-background: #CCE0FD;     /* toast-notification-verified */
  --message-success-background: #B0FFA6;  /* toast-notification-success */
  --message-dark-background: #2d2e31;     /* toast-notification-dark */
  --message-font-weight: 600;
  --message-font-color: #000;
  --message-font-size: 13.75px;
}

/* toast-outer-wrapper */
.toast-notification {
    position: fixed;
    text-decoration: none;
    z-index: 999999;
    max-width: 300px;
    background-color: var(--message-background);
    border-radius: 4px;
    display: flex;
    padding: var(--message-padding);
    transform: translate(0, -150%);
  }

  /* toast-inner-wrapper */
  .toast-notification .toast-notification-wrapper {
    flex: 1;
    padding-right: var(--message-padding);
    overflow: hidden;
  }

  /* toast-header */
  .toast-notification .toast-notification-wrapper .toast-notification-header {
    padding: 0 0 5px 0;
    margin: 0;
    font-weight: var(--message-font-weight);
    font-size: var(--message-font-size);
    word-break: break-all;
    color: var(--message-font-color);
  }

  /* toast-content */
  .toast-notification .toast-notification-wrapper .toast-notification-content {
    font-size: var(--message-font-size);
    font-weight: var(--message-font-weight);
    margin: 0;
    padding: 0;
    word-break: break-all;
    color: var(--message-font-color);
  }

  /* toast-close-icon */
  .toast-notification .toast-notification-close {
    appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 4px;
    font-weight: var(--message-font-weight);
    color: rgba(0, 0, 0, 0.2);
  }
  .toast-notification .toast-notification-close:hover {
    color: rgba(0, 0, 0, 0.4);
  }

  /* toast-position */
  .toast-notification.toast-notification-top-center {
    transform: translate(calc(50vw - 50%), -150%);
  }
  .toast-notification.toast-notification-bottom-left, .toast-notification.toast-notification-bottom-right {
    transform: translate(0, 150%);
  }
  .toast-notification.toast-notification-bottom-center {
    transform: translate(calc(50vw - 50%), 150%);
  }

  /* toast-background */
  .toast-notification.toast-notification-success {
    background-color: var(--message-success-background);
  }
  .toast-notification.toast-notification-error {
    background-color: var(--message-error-background);
  }
  .toast-notification.toast-notification-verified {
    background-color: var(--message-info-background);
  }
  .toast-notification.toast-notification-dark {
    background-color: var(--message-dark-background);
  }

  /* toast-if-dark */
  .toast-notification.toast-notification-dark .toast-notification-wrapper .toast-notification-header {
    color: #edeff3;
  }
  .toast-notification.toast-notification-dark .toast-notification-wrapper .toast-notification-content {
    color: #edeff3;
  }

  /* toast-if-dimmed */
  .toast-notification.toast-notification-dimmed {
    opacity: .3;
  }
  .toast-notification.toast-notification-dimmed:hover, .toast-notification.toast-notification-dimmed:active {
    opacity: 1;
  }
