:root{
    --policy-article-gap: 80px;
    --policy-section-gap: 40px;
    --policy-text-gap: 8px;
    --main-list-marker-width: 19.27px;
    --sub-list-marker-width: 17.94px;
}
.wrapper{
    position: relative;
    padding: 20px;
}
.go-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: max-content;
    height: max-content;
    background: #80808025;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}
.svg-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-chevron-top{
    width: 40px;
    height: 40px;
}
.icon-chevron-top g{
    fill: #808080;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

h1{
    margin-bottom: var(--policy-text-gap);
}
.policy-container{
    margin-top: var(--policy-article-gap);
}
.policy__title{
    margin-bottom: var(--policy-section-gap);
}
.policy__list{
    padding-left: var(--main-list-marker-width);
}
.section__title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: var(--policy-text-gap);
}
.policies-container p{
    margin-bottom: var(--policy-text-gap);
}
.section__list{
    padding-left: var(--sub-list-marker-width);
}
.section__list-unordered{
    list-style-type: disc;
}
.section__list li{
    line-height: var(--line-height);
    margin-bottom: var(--policy-text-gap);
}
.section__link{
    word-wrap: break-word;
}
.bold{
    font-weight: 700;
}
.underline{
    text-decoration: underline;
}
.italic{
    font-style: italic;
}

/* acceptable use policy */

#acceptable-use-policy-for-fansocial p:last-of-type{
    margin-bottom: var(--policy-section-gap);
}

#acceptable-use-policy-for-fansocial .section__list{
    margin-top: calc(var(--policy-text-gap) - var(--policy-section-gap));
    margin-bottom: var(--policy-section-gap);
}

/* anti-sexual exploitation policies */

#anti-sexual-exploitation-policies .section__title,
#anti-sexual-exploitation-policies p{
    margin-bottom: calc(var(--policy-section-gap) / 2);
}

/* complaints and report policy */

#complaints-and-report-policy p{
    margin-bottom: var(--policy-section-gap);
}


/* fansocial web cookies policy */

#fansocial-web-cookies-policy p:last-of-type{
    margin-bottom: var(--policy-section-gap);
}

#fansocial-web-cookies-policy .policy__list{
    padding-left: calc(var(--main-list-marker-width) * 2);
}


/* terms-and-condition */

#terms-and-conditions-for-creators .policy__title,
#terms-and-condition-for-users .policy__title{
    margin-bottom: var(--policy-text-gap);
    text-align: center;
}

#terms-and-conditions-for-creators .terms__date,
#terms-and-condition-for-users .terms__date{
    margin-bottom: var(--policy-section-gap);
    text-align: center;
}

#terms-and-conditions-for-creators p,
#terms-and-condition-for-users p{
    margin-bottom: var(--policy-text-gap);
}
